* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  min-height: 100%;
}

header {
  color: black;
  text-align: center;
  flex-grow: 0;
}

h1 {
  font-weight: 300;
  padding: 0.4em 0;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-height: 50%;
  flex-grow: 1;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

button {
  background: #00be5d;
  color: #fff;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
}

