
.lobbyContainer {
  align-items: center;
  justify-content: center;
  height: 500px;
}

#formContainer {
  width: 80%;
  height: 59%;
  padding-right: 20%;
}

#Login-form {
  max-width: 300px;
  margin: 0 auto;
  font-family: revert;
  background: whitesmoke;
  height: 100%;
  padding: 3%;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 10px black;
}

#Login-form button {
  background: rgb(136, 68, 200);
}

form>div {
  width: 100%;
  margin-bottom: 2em;
}

form>div>label {
  display: block;
  margin-bottom: 0.3em;
}

form>div>input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}

.formButton {
  display: flex;
  outline: none;
  margin-right: 5px;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: rgb(63, 81, 181);
  box-shadow: rgb(0 0 0 / 10%) 0px 8px 15px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.formButton:hover {
  box-shadow: 0px 15px 20px rgba(101, 46, 229, 0.4) !important;
  color: #fff;
  transform: translateY(-7px);
}

.lobbyHeaderContainer{
  width: 300px;
  height: 45px;
  margin-right: 20% !important;
}

.tabContainer{
  width: 100%;
  background: whitesmoke;
  border-radius: 10px 10px 0px 0px;
}

.hostOn{
  width: 50%;
  background: #e0e0e0 !important;
  outline: none !important;
  border-radius: 10px 0px 0px 0px !important;
}

.hostOff{
  width: 50%;
  outline: none !important;
  border-radius: 10px 0px 0px 0px !important;
}

.joinOff{
  width: 50%;
  background: #e0e0e0 !important;
  outline: none !important;
  border-radius: 0px 10px 0px 0px !important;
}

.joinOn{
  width: 50%;
  outline: none !important;
  border-radius: 0px 10px 0px 0px !important;
}

.tabItem{
  padding-top: 5%;
  padding-bottom: 2%;
}

img{
  width: 44%;
  height: 100%;
}