#toolbar {
    position: fixed;
    display: flex;
    bottom: 2%;
    margin-right: 20%;
}

.toolbarDiv {
    margin-right: 10%;
}

.toolbarDiv button {
    background: #fff;
    border: none;
    display: flex;
    border-radius: 50px;
    box-shadow: rgb(0 0 0 / 15%) 0px 8px 15px;
    outline: none;
}

/* .toolbarDiv :hover{
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    background-color: #fff;
    transform: translateY(-7px);
  } */

.toolbar_icons{
    color: black;
    margin: 10px; 
}

#logout_button{
    background-color: #ff484e;
}

.drawer{
    flex-shrink: 0;
}

.drawerPaper{
    width: 20%;
    border-radius: 10px 10px 0px 0px;
    height: 85% !important;
    position: fixed !important;
    margin-right: 10px;
    margin-top: 10px;
  }
