* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #fcfdfe;
  min-height: 100%;
  background-color: #21242c;
}

header {
  color: black;
  text-align: center;
  flex-grow: 0;
  /* margin-bottom: 2em; */
}

h1 {
  font-weight: 300;
  padding: 0.4em 0;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  /* max-height: 100px; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

main {
  max-height: 50%;
  /* background: #F0F3F5; */
  flex-grow: 1;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  display: block;
  margin-bottom: 0.3em;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}

button {
  background: #00be5d;
  color: #fff;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
}
button:hover {
  filter: brightness(150%);
}

.room {
  position: relative;
  /* max-height: 510px; */
}
.room button {
  position: absolute;
  top: 0;
  right: 20px;
}

.room > h2 {
  position: absolute;
  top: -50px;
  right: 20px;
}

.room > h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}

.local-participant {
  text-align: center;
  margin-bottom: 2em;
}
.remote-participants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2em 2em;
}
.participant {
  background: #333e5a;
  /* padding: 10px; */
  max-height: 50vh;
  min-height: 25vh;
  max-width: 50vh;
  min-width: 25vh;
  border-radius: 6px;
  display: inline-block;
  margin: 10px;
}
.participant:last-child {
  margin-right: 0;
}
.participant p {
  text-align: center;
  /* padding-bottom: 0.5em; */
  color: #fff;
  font-size: 1.5rem;
}

video {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  transform: scaleX(-1);
}

footer {
  background: #21242c;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  padding: 1em 0;
}

footer a {
  color: #fff;
}

#toolbar{
  position: fixed;
  display: flex;
  bottom: 8%;
  left: 40%;
}

#toolbar div{
  margin-right: 10%;
}

#toolbar button{
  background: #21242c;
  border: #383b43;
  border-style: solid;
  border-width: 1px;
  font-size: 120%;
}